//
//  Config.xcconfig
//  marvel
//
//  Created by Luis Alvarez on 18/02/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
MARVEL_PUBLIC_KEY=f55d4706dcd0743a0bc6ed4e336599ba
MARVE_PRIVATE_KEY=10af75dbb2c746bfc7b50bb89cd0cc4319ca04c1
