<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MARVEL_API_URL</key>
	<string>$(MARVEL_API_URL)</string>
	<key>MARVEL_PRIVATE_KEY</key>
	<string>$(MARVEL_PRIVATE_KEY)</string>
	<key>MARVEL_PUBLIC_KEY</key>
	<string>$(MARVEL_PUBLIC_KEY)</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
		<key>UIImageName</key>
		<string>180</string>
		<key>UINavigationBar</key>
		<dict>
			<key>UIImageName</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
